.taskInHistory{
    display: flex;
    background-color: rgb(15,15,15);
    padding:1rem 2rem 1rem 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;
}
.taskName{
    flex-grow: 3;
    color:white;
}
.taskTime{
    flex-grow: 1;
    text-align: right;
}
.from, .to, .date{
    color:rgb(173, 173, 173);
}
.total {
    color:white;
}





































































































































































