.taskInHistory{
    display: flex;
    background-color: rgb(74, 74, 74);
    padding:1rem 2rem 1rem 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.taskName{
    flex-grow: 3;
    color:white;
}
.taskTime{
    flex-grow: 1;
    text-align: right;
}
.from, .to{
    color:rgb(173, 173, 173);
}
.total {
    color:white;
}





































































































































































