.startButtonContainer{
    margin:auto;
    width:50%;
    display: flex;
    justify-content: center;
    margin-top:1rem;
    margin-bottom:2rem;
}
.startButtonContainer>input{
    padding:0.7rem;
    border-radius: 1rem 0 0 1rem;
    width:50%;
    background-color: rgb(15,15,15);
    border:none;
    color:white;
}
input:focus{
    outline:none;
}
input::placeholder{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.startButton{
    height:2.4rem;
    width:3.5rem;
    background-color: rgb(24,24,24);
    color:white;
    display:flex; justify-content: center; align-items: center;
    border-radius: 0 1rem 1rem 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor:pointer;
}
.startButton:hover, .stopButton:hover{
    background-color: rgb(50,50,50);

    color:white;
}
.stopButton{
    height:2.4rem;
    width:3.5rem;
    background-color: rgb(24,24,24);
    color:white;
    display:flex; justify-content: center; align-items: center;
    border-radius: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor:pointer;
}