.startButtonContainer{
    margin:auto;
    width:50%;
    display: flex;
    justify-content: center;
    padding:0.5rem;
}
.startButtonContainer>input{
    padding:0.5rem;
    border-radius: 0.8rem;
    width:50%;
}
input:focus{
    outline:none;
}