.timerContainer{
    width:50%;
    margin:auto;
    height:20rem;
    /* background-color: aquamarine; */
    background-color: rgba(255,255,255,0.01);
    box-shadow: 0 0 2rem 0 rgba(255,255,255,0.04) inset;
    border-radius: 5rem;
    margin-top:3rem;
    display:flex; align-items: center; justify-content: center; flex-direction: column;
    position:relative;
}
.time{
    color:white;
    font-size: 7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    filter: drop-shadow(0 0 2rem rgba(255,255,255,0.4));
}
.taskName{
    position:absolute;
    top:3rem; right:50%;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:0.7rem;
    border-radius: 1rem;
    filter: drop-shadow(0 0 1.5rem rgba(255,255,255,0.5));
    font-size: 1.1rem;
    /* background-color: rgba(255,255,255,0.01);
    box-shadow: 0 0 2rem 0 rgba(255,255,255,0.04) inset; */
}